In [2]:
import os
import json
import pandas as pd
import requests

from src.enities import read_configs

config_path = os.getenv('CONFIG_PATH', default='./configs/config_lr.yaml')

def main():
    cnfg = read_configs(config_path)
    data = pd.read_csv(cnfg.paths.raw_dataset_path)
    data = data.drop(cnfg.train_config.column_y, axis=1)
    data = data.drop('Residence_type', axis=1)
    data = data.dropna()

In [13]:
cnfg = read_configs(config_path)
data = pd.read_csv(cnfg.paths.raw_dataset_path)
data = data.drop(cnfg.train_config.column_y, axis=1)
data = data.drop('Residence_type', axis=1)
data = data.dropna()

In [14]:
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,avg_glucose_level,bmi,smoking_status
0,9046,Male,67.0,0,1,Yes,Private,228.69,36.6,formerly smoked
2,31112,Male,80.0,0,1,Yes,Private,105.92,32.5,never smoked
3,60182,Female,49.0,0,0,Yes,Private,171.23,34.4,smokes
4,1665,Female,79.0,1,0,Yes,Self-employed,174.12,24.0,never smoked
5,56669,Male,81.0,0,0,Yes,Private,186.21,29.0,formerly smoked
...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,103.08,18.6,Unknown
5106,44873,Female,81.0,0,0,Yes,Self-employed,125.20,40.0,never smoked
5107,19723,Female,35.0,0,0,Yes,Self-employed,82.99,30.6,never smoked
5108,37544,Male,51.0,0,0,Yes,Private,166.29,25.6,formerly smoked
5109,44679,Female,44.0,0,0,Yes,Govt_job,85.28,26.2,Unknown

In [15]:
data = data.to_dict("records")

In [18]:
data[0]

{'id': 9046,
 'gender': 'Male',
 'age': 67.0,
 'hypertension': 0,
 'heart_disease': 1,
 'ever_married': 'Yes',
 'work_type': 'Private',
 'avg_glucose_level': 228.69,
 'bmi': 36.6,
 'smoking_status': 'formerly smoked'}